
.cipherText{
   margin-top:4% !important;
   margin-bottom:4% !important;
   /* margin-left:25% !important; */
}

.textarea{ 
   width:100px !important;
   /* margin-top:10% !important; */
   border-color:rgb(123, 124, 124) !important;
}

.input{
   margin-top:100px;
}

.decodeBtn{
   /* margin-top:29% !important; */
   background-color: #3CB371 !important;
   color:white;
   font-size:15px;
   border:none;
   /* padding:0px 50px 0px 50px !important; */

}

.content{
   min-height: 100vh;
}

.output,th,td{
   margin-top:70px !important;
   border: 2px solid #30915b ;
   border-collapse: collapse;
   padding:5px;
}

.outputHide{
   display:none;
}

.person1, .person2{
   width:50%;
   height:50%;
}

/* .person2{
   margin-right:20px;
   margin-top:-280px;
}

.person1{
   margin-top:10px;
   margin-left:10px;
} */