.cipherText{
   margin-top:4% !important;
   margin-bottom:4% !important;
   margin-left:25% !important;
}

.textarea{ 
   width:530px;
   height:80px;
   border-color:rgb(123, 124, 124) !important;
   border-radius:5px !important;
   margin-top:1%;
}

.textTitle{
   font-size:larger;
   color:#30915b;
}

.decodeBtn{
   background-color: #3CB371 !important;
   color:white;
   font-size:15px;
   border:none;
   padding:10px 50px 10px 50px !important;
   position:relative !important;
   top:40px !important;
   left:370px;
   border-radius: 5px !important;
}

.content{
   min-height: 100vh;
}

.output,th,td{
   margin-top:70px !important;
   border: 2px solid #30915b ;
   border-collapse: collapse;
   padding:5px;
}

.person1, .person2{
   width:16%;
   height:16%;
}

.person2{
   float:right;
   margin-right:20px;
}

.person1{
   float:left;
   margin-top:10px;
   margin-left:10px;
}